@import "bourbon";
@import "neat";

body {
  @include outer-container;
  background-color: #fef1e0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 5% 35% 20%;
  color: #3D2211;
}
.dashboardbody {
  @include outer-container;
  width: 300%;
  margin-left: -65%;
  margin-right: auto;
}
.formdiv {
  @include span-columns(6);
  @include shift(3);
  column-align: center;
  background-color: #fef1e0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
}
.dashboard {
  @include span-columns(1);
  @include shift(4);
  background-color: #F3D3AA;
  width: 200px;
  height: 100px;
  display: block;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #3D2211;
}
.header {
  color: #ED1B24;
  text-align: center;
  margin-left: -20%;
}

pre {
  background-color: #fef1e0;
  padding: 10px;
  font-size: 11px;
  color: #3D2211;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #fef1e0;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fef1e0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    color: #3D2211;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
  }

  ul li {
    font-size: 12px;
    color: #3D2211;
    list-style: square;
  }
}
